<div class="modal" [class.is-active]="isVisible">
    <div class="modal-background" (click)="close()"></div>
    <div class="modal-card">
        <header class="modal-card-head">
            <p class="modal-card-title" *ngIf="aidBasedTransaction !== undefined">Update Transaction</p>
            <ng-template #modalTitleElseBlock><p class="modal-card-title">New Transaction</p></ng-template>
            <button class="delete" aria-label="close" (click)="close()"></button>
        </header>
        <section class="modal-card-body">
            <div class="content">
                <form [formGroup]="transactionForm">
                    <h2>Aid-Based Data</h2>
                    <fieldset formGroupName="aidBasedData" disabled>
                        <div class="field">
                            <label class="label">Aid ID</label>
                            <div class="control">
                                <input class="input" type="text" formControlName="aidId" placeholder="The CN-generated ID for the aid between two nations" />
                            </div>
                        </div>
                        <h5>Sent By</h5>
                        <div class="field is-horizontal" formGroupName="sentBy">
                            <div class="field-body">
                                <div class="field">
                                    <label class="label">Nation Name</label>
                                    <div class="control">
                                        <input class="input" type="text" formControlName="nationName" />
                                    </div>
                                </div>
                                <div class="field">
                                    <label class="label">Ruler Name</label>
                                    <div class="control">
                                        <input class="input" type="text" formControlName="rulerName" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <h5>Received By</h5>
                        <div class="field is-horizontal" formGroupName="receivedBy">
                            <div class="field-body">
                                <div class="field">
                                    <label class="label">Nation Name</label>
                                    <div class="control">
                                        <input class="input" type="text" formControlName="nationName" />
                                    </div>
                                </div>
                                <div class="field">
                                    <label class="label">Ruler Name</label>
                                    <div class="control">
                                        <input class="input" type="text" formControlName="rulerName" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="field">
                            <label class="label">Aid Status</label>
                            <div class="control is-expanded">
                                <div class="select is-fullwidth">
                                    <select formControlName="status">
                                        <option *ngFor="let status of (aidStatusNames | enumToArray)" [ngValue]="toAidStatusValue(status)">{{ status }}</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="field is-horizontal">
                            <div class="field-body">
                                <div class="field">
                                    <label class="label">Money</label>
                                    <div class="control">
                                        <input class="input" type="text" formControlName="money" />
                                    </div>
                                </div>
                                <div class="field">
                                    <label class="label">Technology</label>
                                    <div class="control">
                                        <input class="input" type="text" formControlName="technology" />
                                    </div>
                                </div>
                                <div class="field">
                                    <label class="label">Soldiers</label>
                                    <div class="control">
                                        <input class="input" type="text" formControlName="soldiers" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="field is-horizontal">
                            <div class="field-body">
                                <div class="field">
                                    <label class="label">Starts On</label>
                                    <div class="control">
                                        <input class="input" type="text" formControlName="startsOn" />
                                    </div>
                                </div>
                                <div class="field">
                                    <label class="label">Ends On</label>
                                    <div class="control">
                                        <input class="input" type="text" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                    <div class="field">
                        <label class="label">Reason</label>
                        <div class="control">
                            <input class="input" type="text" formControlName="reason" />
                        </div>
                    </div>
                    <h2>Transaction Metadata</h2>
                    <div class="field is-horizontal">
                        <div class="field-body">
                            <div class="field">
                                <label class="label">Classification</label>
                                <div class="control">
                                    <input class="input" type="text" formControlName="classification" />
                                </div>
                            </div>
                            <div class="field">
                                <label class="label">Rate</label>
                                <div class="control">
                                    <input class="input" type="text" formControlName="rate" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="field is-horizontal">
                        <div class="field-body">
                            <div class="field">
                                <label class="label">Cash Moved (Cash)</label>
                                <div class="control">
                                    <input class="input" type="text" formControlName="cashMovedCashCredit" />
                                </div>
                            </div>
                            <div class="field">
                                <label class="label">Cash Moved (Tech)</label>
                                <div class="control">
                                    <input class="input" type="text" formControlName="cashMovedTechCredit" />
                                </div>
                            </div>
                            <div class="field">
                                <label class="label">Tech Moved (Cash)</label>
                                <div class="control">
                                    <input class="input" type="text" formControlName="techMovedCashCredit" />
                                </div>
                            </div>
                            <div class="field">
                                <label class="label">Tech Moved (Tech)</label>
                                <div class="control">
                                    <input class="input" type="text" formControlName="techMovedTechCredit" />
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </section>
        <footer class="modal-card-foot">
            <button class="button is-success" (click)="save()">Save</button>
            <button class="button" (click)="close()">Cancel</button>
        </footer>
    </div>
</div>