<div class="container">
    <div class="section">
        <h1 class="title">VEP Transactions</h1>
        <h2 class="subtitle">Manage every transaction that VEP tracks, as well as manual balance adjustments</h2>
    </div>
</div>
<div class="container">
    <div class="section">
        <div class="columns">
            <div class="column">
                <div class="dropdown">
                    <div class="dropdown-trigger">
                        <div class="field">
                            <label class="label">Sent By</label>
                            <div class="control">
                                <input class="input" type="search" placeholder="Nation or Ruler name" />
                            </div>
                        </div>
                    </div>
                    <div class="dropdown-menu" role="menu">
                        <div class="dropdown-content">
                            <p class="is-size-6" style="padding: 0 12px">Nations</p>
                            <span class="dropdown-item">lilweirdward of Land of Too Much Fun</span>
                            <span class="dropdown-item">Lord Draculea of Transylvania</span>
                            <hr class="dropdown-divider" />
                            <p class="is-size-6" style="padding: 0 12px">Alliances</p>
                            <span class="dropdown-item">Christian Coalition of Countries</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="column">
                <div class="dropdown">
                    <div class="dropdown-trigger">
                        <div class="field">
                            <label class="label">Received By</label>
                            <div class="control">
                                <input class="input" type="search" placeholder="Nation or Ruler name" />
                            </div>
                        </div>
                    </div>
                    <div class="dropdown-menu" role="menu">
                        <div class="dropdown-content">
                            <span class="dropdown-item">lilweirdward of Land of Too Much Fun</span>
                            <span class="dropdown-item">Lord Draculea of Transylvania</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="column">
                <div class="field">
                    <label class="label">Since</label>
                    <div class="control">
                        <input #aidSinceCalendar class="input" type="date" />
                    </div>
                </div>
            </div>
            <div class="column">
                <div class="field">
                    <label class="label">Until</label>
                    <div class="control">
                        <input #aidUntilCalendar class="input" type="date" />
                    </div>
                </div>
            </div>
        </div>
        <div class="tabs is-boxed">
            <ul>
                <li class="is-active">
                    <a>
                        <span>Aid-Based</span>
                    </a>
                </li>
                <li>
                    <a>
                        <span>Manual</span>
                    </a>
                </li>
            </ul>
        </div>
        <div class="table-container">
            <table class="table">
                <thead>
                    <tr>
                        <th>Actions</th>
                        <th>Sending Ruler</th>
                        <th>Receiving Ruler</th>
                        <th>Status</th>
                        <th>Money</th>
                        <th>Tech</th>
                        <th>Sold</th>
                        <th>Reason</th>
                        <th>Aid ID</th>
                        <th>Start</th>
                        <th>Ends</th>
                        <th>Lu</th>
                        <th>Cc</th>
                        <th>Rate</th>
                        <th>CT</th>
                        <th>CC</th>
                        <th>TC</th>
                        <th>TT</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
        <div class="columns">
            <div class="column is-four-fifths">
                <nav class="pagination is-centered" role="navigation" aria-label="pagination">
                    <a class="pagination-previous">Previous</a>
                    <a class="pagination-next">Next</a>
                    <ul class="pagination-list">
                        <li><a class="pagination-link" aria-label="Goto page 1">1</a></li>
                        <li><span class="pagination-link">&hellip;</span></li>
                        <li><a class="pagination-link" aria-label="Goto page 5">5</a></li>
                        <li><a class="pagination-link is-current" aria-label="Goto page 6">6</a></li>
                        <li><a class="pagination-link" aria-label="Goto page 7">7</a></li>
                        <li><span class="pagination-link">&hellip;</span></li>
                        <li><a class="pagination-link" aria-label="Goto page 9">9</a></li>
                    </ul>
                </nav>
            </div>
            <div class="column">
                <div class="dropdown is-active">
                    <div class="dropdown-trigger">
                        <button class="button">Results Per Page</button>
                    </div>
                    <div class="dropdown-menu" role="menu">
                        <div class="dropdown-content">
                            <a class="dropdown-item">25</a>
                            <a class="dropdown-item is-active">100</a>
                            <a class="dropdown-item">500</a>
                            <a class="dropdown-item">1000</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>