<div class="container">
    <div class="section">
        <h1 class="title">VEP Transactions</h1>
        <h2 class="subtitle">Manage every transaction that VEP tracks, as well as manual balance adjustments</h2>
    </div>
</div>
<div class="container">
    <div class="section">
        <div class="tabs is-boxed">
            <ul>
                <li class="is-active">
                    <a>
                        <span>Aid-Based</span>
                    </a>
                </li>
                <li>
                    <a>
                        <span>Manual</span>
                    </a>
                </li>
            </ul>
        </div>
        <div>
            <div class="dropdown">
                <div class="dropdown-trigger">
                    <div class="field">
                        <label class="label">Sent By</label>
                        <div class="control is-expanded">
                            <input class="input" type="search" placeholder="Nation or Ruler name" />
                        </div>
                    </div>
                </div>
                <div class="dropdown-menu" role="menu">
                    <div class="dropdown-content">
                        <span class="dropdown-item">lilweirdward of Land of Too Much Fun</span>
                        <span class="dropdown-item">Lord Draculea of Transylvania</span>
                    </div>
                </div>
            </div>
            <div class="dropdown">
                <div class="dropdown-trigger">
                    <div class="field">
                        <label class="label">Received By</label>
                        <div class="control is-expanded">
                            <input class="input" type="search" placeholder="Nation or Ruler name" />
                        </div>
                    </div>
                </div>
                <div class="dropdown-menu" role="menu">
                    <div class="dropdown-content">
                        <span class="dropdown-item">lilweirdward of Land of Too Much Fun</span>
                        <span class="dropdown-item">Lord Draculea of Transylvania</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="table-container">
            <table class="table">
                <thead>
                    <tr>
                        <th>Actions</th>
                        <th>Sending Ruler</th>
                        <th>Receiving Ruler</th>
                        <th>Status</th>
                        <th>Money</th>
                        <th>Tech</th>
                        <th>Sold</th>
                        <th>Reason</th>
                        <th>Aid ID</th>
                        <th>Start</th>
                        <th>Ends</th>
                        <th>Lu</th>
                        <th>Cc</th>
                        <th>Rate</th>
                        <th>CT</th>
                        <th>CC</th>
                        <th>TC</th>
                        <th>TT</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
        <nav class="pagination is-centered" role="navigation" aria-label="pagination">
            <a class="pagination-previous">Previous</a>
            <a class="pagination-next">Next</a>
            <ul class="pagination-list">
                <li><a class="pagination-link" aria-label="Goto page 1">1</a></li>
                <li><span class="pagination-link">&hellip;</span></li>
                <li><a class="pagination-link" aria-label="Goto page 5">5</a></li>
                <li><a class="pagination-link is-current" aria-label="Goto page 6">6</a></li>
                <li><a class="pagination-link" aria-label="Goto page 7">7</a></li>
                <li><span class="pagination-link">&hellip;</span></li>
                <li><a class="pagination-link" aria-label="Goto page 9">9</a></li>
            </ul>
        </nav>
    </div>
</div>