<nav class="navbar is-dark">
  <div class="navbar-brand">
    <a class="navbar-item">
      <img src="../assets/logo.png" />
    </a>

    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div class="navbar-menu">
    <div class="navbar-start">
      <a class="navbar-item">Home</a>
      <a class="navbar-item">How It Works</a>
    </div>

    <div class="navbar-end">
      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link is-arrowless">Admin Portal</a>
        <div class="navbar-dropdown">
          <a class="navbar-item" routerLink="admin">Home</a>
          <a class="navbar-item" routerLink="admin/accounts">Accounts</a>
          <a class="navbar-item" routerLink="admin/transactions">Transactions</a>
          <a class="navbar-item">Lists</a> 
        </div>
      </div>

      <a class="navbar-item">
        <div class="buttons">
          <a class="button is-primary">My Account</a>
        </div>
      </a>
    </div>
  </div>
</nav>

<router-outlet></router-outlet>
